<form method="post" action="{{ path('burger_delete', {'id': burgerSelect.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ burgerSelect.id) }}">
    <button class="btn btn-danger waves-effect">Delete</button>

   
</form>
