{% extends 'base.back.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block content %}
    <h1>Create new Menu</h1>

    {{ include('BackEnd/crud_menu/_form.html.twig') }}

    <a href="{{ path('menu_management') }}">back to list</a>
{% endblock %}
